body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px;
    text-align: center;
}
header h1 {
    font-size: 2.5em; /* Larger font size */
    font-weight: bold; /* Bold text */
    color: #ff0000; /* Red color */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for depth */
    margin: 0;
}
header p {
    font-size: 1.2em; /* Slightly larger font size */
    font-style: italic; /* Italic text */
    color: #ffffff; /* White color */
    margin: 5px 0 10px 0; /* Adjust margins */
}
header nav a {
    color: #ff0000; /* Red color for links */
    margin: 0 10px;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    flex: 1;
}
footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px;
}
footer nav a {
    color: #ff0000; /* Red color for links */
    margin: 0 10px;
    text-decoration: none;
}
footer nav a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em; /* Slightly larger font size */
    font-style: italic; /* Italic text */
    color: #ffffff; /* White color */
    margin: 5px 0 10px 0; /* Adjust margins */
}

a {
    color: green;
    text-decoration: none;
}

a:visited,
a:hover,
a:active {
    color: green;
    text-decoration: none;
}